body {
    font-family: Arial, sans-serif;
}

#logo {
    width: 50px;
    height: 50px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}