<html>
<head>
    <title>Formulario de Cajero</title>
    <link rel="stylesheet" href="/static/css/usuario.css" />
</head>
<body>
    <body id="home">
        <Header class ="header__main">
        <div class="logo">
        <a href="inicio.html">
        <h1><img src="Imagenes/Logo 1 copy.png" width="65" height="65" /></h1>
        </a>
        </div>
        <label for="nav__btn" class="nav__btn-label">
          <span class="nav__bar"></span>
        </label>
        <input type="checkbox" id="nav__btn" class="nav__btn">
        <mav class="nav">
         <nav id="main-navigation" class="navigation">
          <ul class="nav__items">
            <li class="nav__links"><a href="inicio.html" class="nav__link">Inicio</a></li>
            <li class="nav__links"><a href="usuario.html" class="nav__link">Usuario</a></li>
            <li class="nav__links"><a href="receta.html" class="nav__link">Receta</a></li>
            <li class="nav__links"><a href="cajero.html" class="nav__link">Cajero</a></li>
            <li class="nav__links"><a href="cotizacion.html" class="nav__link">Cotizacion</a></li>
            <li class="nav__links"><a href="delivery.html" class="nav__link">Delivery</a></li>
          </ul>
       </Header>

    <div class="form-container">
        <h1>Formulario de Delivery</h1>
        <form action="/" method="POST">
            <div class="form-field">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion">
            </div>
            <div class="form-field">
                <label for="vehiculo">Vehículo:</label>
                <input type="text" id="vehiculo" name="vehiculo">
            </div>
            <div class="form-field">
                <label for="placa">Placa:</label>
                <input type="text" id="placa" name="placa">
            </div>
            <div class="form-field">
                <label for="metodo_pago">Método de Pago:</label>
                <input type="text" id="metodo_pago" name="metodo_pago">
            </div>
            <div class="form-field">
                <label for="hora_entrega">Hora de Entrega:</label>
                <input type="time" id="hora_entrega" name="hora_entrega">
            </div>
            <div class="form-field">
                <label for="image_pedido">Imagen del Pedido:</label>
                <input type="file" id="image_pedido" name="image_pedido">
            </div>
            <div class="form-field">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
<footer>
    <p>Farmacia © 2023</p>
  </footer>
</html>
