<html>
<head>
    <title>Formulario de Delivery</title>
    <link rel="stylesheet" type="text/css" href="/static\stiles/css/delivery.css">
</head>
<body>
    <div class="form-container">
        <h1>Formulario de Delivery</h1>
        <form>
            <div class="form-field">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion">
            </div>
            <div class="form-field">
                <label for="vehiculo">Vehículo:</label>
                <input type="text" id="vehiculo" name="vehiculo">
            </div>
            <div class="form-field">
                <label for="placa">Placa:</label>
                <input type="text" id="placa" name="placa">
            </div>
            <div class="form-field">
                <label for="metodo_pago">Método de Pago:</label>
                <input type="text" id="metodo_pago" name="metodo_pago">
            </div>
            <div class="form-field">
                <label for="hora_entrega">Hora de Entrega:</label>
                <input type="time" id="hora_entrega" name="hora_entrega">
            </div>
            <div class="form-field">
                <label for="image_pedido">Imagen del Pedido:</label>
                <input type="file" id="image_pedido" name="image_pedido">
            </div>
            <div class="form-field">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
</html>
