<html>
    <header>
        <h1>Usuario</h1>
    </header>
    <head>
        <title>Formulario de usuario</title>
        <link rel="stylesheet" href="/static/css/usuario.css" />
      </head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="usuario.html">Usuario</a></li>
            <li><a href="receta.html">Receta</a></li>
            <li><a href="cajero.html">Cajero</a></li>
            <li><a href="cotizacion.html">Cotizacion</a></li>
            <li><a href="delivery.html">Delivery</a></li>
        </ul>
    </nav>
    <div class="form-container">
        <h1>Formulario de Usuario</h1>
        <form>
            <div class="form-field">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div class="form-field">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido">
            </div>
            <div class="form-field">
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
            </div>
            <div class="form-field">
                <label for="rol">Rol:</label>
                <input type="text" id="rol" name="rol">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-field">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena">
            </div>
            <div class="form-field">
                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>
            <div class="form-field">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono">
            </div>
            <div class="form-field">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>

    <footer>
        <p>Farmacia © 2023</p>
    </footer>
</body>
<script src="/static/js/usuario.js"></script>
</html>
